{% extends "base.html" %}

{% block body_content %}
<table class="book-table">
  <thead>
      <tr>
          <th>Book Name</th>
          <th>Author</th>
          <th>Lended</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody>
      {% for book in books %}
      <tr class="{% cycle 'row-even' 'row-odd' %}">
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>
              {% if book.is_available %}
                  No
              {% else %}
                  Due to {{ book.available_at }}
              {% endif %}
          </td>
          <td>
            {% if book.is_listed and book.is_available %}
            <form action="{% url 'profile' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="book_id" value="{{ book.id }}">
              <button type="submit">Unlist</button>
            </form>
            {% elif book.is_listed and not book.is_available %}
                <span style="color: gray;">Wait the due date</span>
            {% else %}
            <form action="{% url 'profile' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="book_id" value="{{ book.id }}">
              <button type="submit">List</button>
            </form>
            {% endif %}
          </td>
      </tr>
      <tr>

      </tr>
      {% empty %}
      <tr>
          <td colspan="5">No books uploaded.</td>
      </tr>
      {% endfor %}
  </tbody>
</table>


<div style="text-align: center; margin-top: 20px;">
  <a href="{% url 'add_book' %}" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">
      Add Book
  </a>
</div>


{% endblock body_content %}
