{% extends "base.html" %}

{% block body_content %}
<table class="book-table">
  <thead>
      <tr>
          <th>Book Name</th>
          <th>Author</th>
          <th>Lended</th>
          <th>Listing Date</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody>
      {% for book in books %}
      <tr class="{% cycle 'row-even' 'row-odd' %}">
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>
              {% if book.is_available %}
                  No
              {% else %}
                  Due to {{ book.avaliable_at }}
              {% endif %}
          </td>
          <td>
            {% if book.is_listed %}
              {{ book.listing_date }}
            {% else %}
              Not Listed
            {% endif %}
          </td>
          <td>
            {% if book.is_listed and book.is_avaliable %}
            <form action="{% url 'unlist_book' book.id %}" method="post">
              {% csrf_token %}
              <button type="submit">Unlist</button>
            </form>
            {% elif book.is_listed and not book.is_avaliable %}
                <span style="color: gray;">Wait the due date</span>
            {% else %}
            <form action="{% url 'list_book' book.id %}" method="post">
              {% csrf_token %}
              <button type="submit">List for lending</button>
            </form>
            {% endif %}
          </td>
      </tr>
      <tr>

      </tr>
      {% empty %}
      <tr>
          <td colspan="5">No books uploaded.</td>
      </tr>
      {% endfor %}
  </tbody>
</table>


<div style="text-align: center; margin-top: 20px;">
  <a href="{% url 'add_book' %}" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">
      Add Book
  </a>
</div>


{% endblock body_content %}
